/* Your custom CSS code */
.list-group2 {

    line-height: 38px;
    border-color: #E0E0E0;
    width:100%;
    height: 200px;

}
.list-group-item2{
 padding: 5px 15px;
 border-right: black solid 2px;
 width:auto

}