<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://pagination.js.org/dist/2.1.4/pagination.css"/>
    <style>
        .contol-all{
            display: none;
        }

    </style>
</head>
<body>

<form action="{% url 'examque2'  %}" id="form_id"  method="POST" class="form-control" > {% csrf_token %}
<div class="container-fluid">
    <br>
    <br>
    <br>


    {% for foo in page_obj  %}

  <div class="row align-items-start contol-all"  id="{{ foo.id }}" {% if foo.id == 1 %} style="display:block" {% endif %}>
    <div class="col">

        <div class="alert alert-info" role="alert">
         {{ foo.question }}

            <br>
            <br>
            <br>
      <div class="alert alert-dark" id="tab" role="alert">
                      <div class="form-check">>
                      <input class="form-check-input" type="radio" name={{ foo.id }} id="exampleRadios1" value={{ foo.option1 }} >
                      <label class="form-check-label" for="exampleRadios1">
                        {{ foo.option1 }}
                      </label>

                    </div>
                  <div class="form-check">>
                              <input class="form-check-input" type="radio" name={{ foo.id }} id="exampleRadios1" value={{ foo.option2 }} >
                              <label class="form-check-label" for="exampleRadios1">
                                {{ foo.option2 }}
                              </label>

                            </div>
                  <div class="form-check">>
                              <input class="form-check-input" type="radio" name={{ foo.id }} id="exampleRadios1" value={{ foo.option3 }} >
                              <label class="form-check-label" for="exampleRadios1">
                                {{ foo.option3 }}
                              </label>

                            </div>
                    <div class="form-check">>
                      <input class="form-check-input" type="radio" name={{ foo.id }} id="exampleRadios1" value={{ foo.option4 }} >
                      <label class="form-check-label" for="exampleRadios1">
                        {{ foo.option4 }}
                      </label>

                    </div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
   <button type="submit" id="abortAjax"  onclick="javascript: form.action='/submit';"class="btn btn-primary">Done</button>

    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item " id="add_after">
      <a class="page-link" href="#"   onclick="MoveBack({{ foo.id }})" >Previous</a>
    </li>
      {% for foo,doo in dict_id %}

       <li class="page-item" ><button class="page-link all-change" id="no{{ foo.id }}"{% if foo.id == 1%}
 style="background-color: red"
       {% endif %} onclick="MoveHere({{ foo.id }})" > {{ doo }}</button></li>
      {% endfor %}
      <a class="page-link" href="">Next</a>
    </li>
  </ul>
</nav>
  </div>


</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://pagination.js.org/dist/2.1.4/pagination.min.js"></script>

<script>


$(document).ready(function(){
    console.log({{ Number }})
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

});

        function MoveHere(number) {
        var change = String(number)
            var changeFrom = String(number+1)
            console.log(change)
             console.log(changeFrom)
         var show = document.getElementById(change)
  var divsToHide = document.getElementsByClassName("contol-all");
      var divsToHideColor = document.getElementsByClassName("all-change");

         //divsToHide is an array
    for(var i = 0; i < divsToHideColor.length; i++){
        divsToHideColor[i].style.backgroundColor= 'white'; // depending on what you're doing
    }
for(var i = 0; i < divsToHide.length; i++){
        divsToHide[i].style.display = "none"; // depending on what you're doing
    }
    show.style.display = "block";
    console.log("no"+change)
    document.getElementById("no"+change).style.backgroundColor= 'red'

        }
        function MoveBack(number) {
             var change = String(number)
            var changeFrom = String(number-1)
            console.log(changeFrom+change)
             var hide = document.getElementById(change)
             var move = document.getElementById(changeFrom)
            move.style.display = "block";
             hide.style.display="none"

        }
        $(document).ready(function() {
    $('#form_id').submit(function() { // catch the form's submit event
        console.log($(this).attr('action'))
        if($(this).attr('action') === '/exam/e2'){
     jqXHR =   $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'),// the file to call
            success: function(response) { // on success..

            },
            error: function(e, x, r) { // on error..

            }

        });
 return false;}else{

this.disabled=true
            this.form.submit();
        }
});


});

    function Showresult() {

    }
</script>
</html>