<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://pagination.js.org/dist/2.1.4/pagination.css"/>
</head>
<body>
{% for foo in page_obj %}

{% endfor %}

<form action='{% url 'examque'  %}' method="post"> {% csrf_token %}
<div class="container">
    <br>
    <br>
    <br>
    {% for foo in page_obj  %}
       
        <input type="hidden" {% if foo.id == 1 %}
        value="{{ key }}" name="{{ foo.id }}"
        {% endif %}  >
  <div class="row align-items-start" id = {{ foo.id }}>
    <div class="col">

        <div class="alert alert-info" role="alert">
         {{ foo.question }}

            <br>
            <br>
            <br>
      <div class="alert alert-dark" role="alert">
      {% for foo in page_obj %}
      
      {% endfor %}
      
                      <div class="form-check">
                      <input class="form-check-input" type="radio" name={{ foo.id }} id="exampleRadios1" value="{{ foo.option1 }}" {% if foo.option1 == key %} checked{% endif %}  >
                      <label class="form-check-label" for="exampleRadios1">
                        {{ foo.option1 }}
                      </label>

                    </div>
                  <div class="form-check">>
                              <input class="form-check-input" type="radio" name={{ foo.id }} id="exampleRadios1" value="{{ foo.option2 }}"  {% if foo.option2 == key %} checked{% endif %} >
                              <label class="form-check-label" for="exampleRadios1">
                                {{ foo.option2 }}
                              </label>

                            </div>
                  <div class="form-check">>
                              <input class="form-check-input" type="radio" name={{ foo.id }} id="exampleRadios1" value='{{ foo.option3 }}'  {% if foo.option3 == key %} checked{% endif %} >
                              <label class="form-check-label" for="exampleRadios1">
                                {{ foo.option3 }}
                              </label>

                            </div>
                    <div class="form-check">>
                      <input class="form-check-input" type="radio" name={{ foo.id }} id="exampleRadios1" value="{{ foo.option4 }} "  {% if foo.option4 == key %} checked{% endif %}>
                      <label class="form-check-label" for="exampleRadios1">
                        {{ foo.option4 }}
                      </label>

                    </div>
            </div>
        </div>
      </div>
    </div>{% endfor %}<button type="submit" class="btn btn-primary">Done</button>
  </div>


</form>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://pagination.js.org/dist/2.1.4/pagination.min.js"></script>

<script>
$(document).ready(function(){
 Move()
});
    function  Move(){
$.getJSON("/examlist/?format=json", function(result){
            $.each(result, function (i, f) {
                            {#$('#list .wrapper').append('<ul><li>Key1: ' + f.Key1 + '</li></ul>');#}
                console.log(f)
                        });

    });
        }
</script>
</html>